<style>
     #patient:hover{
        opacity: 0.6;
        cursor: pointer;
    }

</style>
<div class="container-fluid" style="padding-top: 50px; background-color: whitesmoke">
    <div class="row">

        <div class="main">
            <h1>Dr.{{a_name}}님의 환자</h1>

            <!-- 로딩 -->
            <div class="sk-fading-circle" ng-style="loadingStyle">
                <div class="sk-circle1 sk-circle"></div>
                <div class="sk-circle2 sk-circle"></div>
                <div class="sk-circle3 sk-circle"></div>
                <div class="sk-circle4 sk-circle"></div>
                <div class="sk-circle5 sk-circle"></div>
                <div class="sk-circle6 sk-circle"></div>
                <div class="sk-circle7 sk-circle"></div>
                <div class="sk-circle8 sk-circle"></div>
                <div class="sk-circle9 sk-circle"></div>
                <div class="sk-circle10 sk-circle"></div>
                <div class="sk-circle11 sk-circle"></div>
                <div class="sk-circle12 sk-circle"></div>
            </div>

            <div class="row placeholders">


            </div>

            <h3>{{selected_u_name}} 환자 일지<button class="btn btn-link" style="float:right" ng-click="exportToExcel('#exportable')">
                <span class="glyphicon glyphicon-share"></span> Export to Excel
            </button></h3>


            <div id="exportable" class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>일자</th>
                        <th>환자명</th>
                        <th>병명</th>
                        <th>아침</th>
                        <th>점심</th>
                        <th>저녁</th>
                        <th>온도</th>
                        <th>습도</th>
                        <th>수면시간</th>
                        <th>혈압</th>
                        <th>음주여부</th>
                        <th>특이사항</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="d in check_List">
                        <td>{{dateTime(d.c_date)}}</td>
                        <td>{{d.u_name}}</td>
                        <td>{{d.u_disease}}</td>
                        <td>{{d.c_breakfast}}</td>
                        <td>{{d.c_lunch}}</td>
                        <td>{{d.c_dinner}}</td>
                        <td>{{d.c_temperature}}</td>
                        <td>{{d.c_humid}}</td>
                        <td>{{d.c_sleepTime}}</td>
                        <td>{{d.c_bloodPressure}}</td>
                        <td><p ng-if="d.c_drinking==1">O</p></td>
                        <td>{{d.c_memo}}<span ng-if="d.c_img"><img src="/storedimg/{{d.c_img}}" ng-click="showImg(d.c_img)" style="width: 100px; height: auto;"></span> </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
<script src="js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="assets/js/vendor/holder.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->